/* Additional global resets */
html {
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}
